.screen {
    background-color: rgb(40,42,53);
    color: white;
    width: 650px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    max-height: 100%;
    height: 435px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h1{
        color: white;
        align-items: center;
    }
    
}

.dataHistory {
    margin: 0px 25px 10px 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.historyButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    float: right;
    button {
        margin: 10px;
    }
}

.trash {
    background-color: rgba(27, 31, 35, 0.15);
    border: rgba(27, 31, 35, 0.15);
    color: white;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    list-style: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: bold;
    max-width: fit-content;
}

.historySolution {
    background-color: rgba(27, 31, 35, 0.15);
    border: rgba(27, 31, 35, 0.15);
    color: white;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    list-style: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: bold;
    width: max-content;
}

@media screen and (max-width: 750px) {
    .screen {
        margin: 15px;
        width: 450px;
    }

}